<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @order.member_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @order.delivery %>
</p>

<%= link_to 'Done', home_welcome_path %>
