<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Script:</strong>
  <%= @company.script %>
</p>

<p>
  <strong>Variables:</strong>
  <%= @company.variables %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<% if user_signed_in? %>
<%= link_to 'Back', user_path(current_user) %>
<% else %>
<li><%= link_to 'Back', companies_path %></li>
<% end %>


