<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @printer.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @printer.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @printer.email %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @printer.cell %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @printer.agent_id %>
</p>

<%= link_to 'Edit', edit_printer_path(@printer) %> |
<%= link_to 'Back', printers_path %>
