<% unless @member %>
	<%= form_tag members_path, :method => 'get' do %>
	<div style="color:darkGray; font-size:30;  text-align:center; 	padding-top:200px;">
		<h1>
			email:
			<%= text_field_tag :email, params[:email], :size=>"30",:html => {:style => '"font-size:30;"'}%>
		</h1>
		<h1>
			<%= submit_tag "Search", :name => nil  %>
		</h1>
	</div>
	<% end %>
<% else %>
<div style="color:darkGray; font-size:30;  text-align:center; 	padding-top:50px;">
	<p><img border="1" width="<%= @width %>" height="<%= @height %>" float="right" src="<%= @preview_page_1 %>"></img></p>
	<p><img border="1" width="<%= @width %>" height="<%= @height %>" float="right" src="<%= @preview_page_2 %>"></img></p>
	
	<%= link_to 'Order Print', order_member_path(@member) %> |
	<%= link_to 'Edit', edit_member_path(@member) %> |
	<%= link_to 'Cancel', members_path %> 
	
</div>

<% end %>


